*{
    margin: 0;
    padding: 0;
}

.a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho{
    background-color: white;
    color: black;
    display: flex;
    justify-content:space-between;
    padding: 24px 0;
    font-size: 14px;
}

.cabecalho-Imagem{
 width: 35%;
 font-size: 200%;
}

.cabecalhoListaItem{
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
}

.sobre-imagem{
width:18%;
}

.sobre{
    background-color:  rgb(198, 211, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
}

.sobre-conteudo{
    width: 50%;
}

.sobre-titulo{
    padding: 40px 0;
}

.membros-titulo{
    font-size: 200%;
    text-align: center;
    padding: 50px 0;
}

.membro-imagem{
    width: 200px;
}

.membro-icone{
    width: 40px;
}

.membro-div{
    text-align: center;
}

.membros-todos{
    display:grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    margin: 100px 0;
}

footer{
    background-color: black;
    padding: 20px 0;
    color:white;
    text-align: center;
    font-size: 30px;
}